body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ec;
    font-family: Arial, sans-serif;
}

.neumorphic{
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;

}

.neumorphic-inset{
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #fff;

}

.neumorphic-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    text-align: center;

}

h1{
    color: #6d7582;
    margin-bottom: 20px;
}

.numorphic-input{
    padding: 15px;
    width: 80%;
    font-size: 16px;
    color: #6d7582;
    border: none;
    outline: none;
    margin-bottom: 25px;
}

.numorphic-input::placeholder{
    color: #a3b1c6;
}

.numorphic-button{
    padding: 15px 30px;
    font-size: 16px;
    color: #6d7582;
    border: none;
    transition: all 0.3s ease;
}

.numorphic-button:active{
    box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #fff;

}